@import "./Componentes/navbar","./Componentes/colores","./Componentes/footer","./Componentes/mixin";
*{
    font-family: 'Nunito', sans-serif !important;
    font-weight: bold; 
    text-align: center;
}
